
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

a {
  color: #900;
  text-decoration: none;
}

a:hover {
  color: #c33;
}

.japanese, .japanese-serif {
  font-size: 1.5em;
}

.japanese {
  font-family: 'Noto Sans JP', sans-serif;
}

.japanese-serif {
  font-family: 'Noto Serif JP', serif;
}
